@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }

html, body { height: 100%; }

body {
  @apply bg-background text-foreground antialiased;
}

/* Suavização do scroll com Lenis */
html.lenis { height: auto; }
.lenis.lenis-smooth { scroll-behavior: auto !important; }
.lenis.lenis-smooth [data-lenis-prevent] { overscroll-behavior: contain; }
